*{
    margin:0;
    padding:0;
}

body{
    background-color:gray;
}

.header {
    background-color: white;
}

.header::after{
   /* background-color:white;*/
   content:" ";
   clear:both;
   display:block;
   visibility: hidden;
}

.container{
    max-width:1200px;
    margin:0 auto;
}

.logo{
    float:left;
}

.nav{
    float:right;
}

.nav ul li{
    display:inline-block;
}

.nav ul li a{
    padding:10px 20px;
    text-decoration:none;
    line-height:80px;
    font-size:20px;
}

.nav ul li a:hover{
    color:palevioletred;
    font-size:21px;
}

section{
    padding:30px;
}

article{
    background:white;
    padding:30px;
}

h1 {
    font-size: 64px;
}
h2{
    font-size:36px;
}

h3{
font-size:30px;
}

h1,h2,h3,h4,h5{
    margin:0px;
    padding-bottom:10px;
}

#events{
    padding-top:20px;
}


p{
    padding-bottom:20px;
    /*font-size:20px;*/
}

img{
    margin:0px;
    display:block;
}

.footer{
    background:white;
    padding:20px;
    text-align:center;
}

.sponsor{
   list-style-type:none;
}

.sponsor li{
    display: inline-block;
    padding:20px;
}









